@import url(../Build/Cesium/Widgets/widgets.css);
		html, body, #cesiumContainer {
		width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
		position: absolute;
		z-index: 1;
	  	}
	  	
#menuBar {
			position: absolute;
			z-index: 3;
			top: 56px;
			left: 0px;
			width: 13%;
			height: 75%;
			overflow: no-scroll;
			font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-size: 14px;
			font-size: 1.5vw;
			font-style: normal;
			font-variant: normal;
	   	}
	  	ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 150px;
			background-color:transparent;
	  	} 
	  	li a {
			display: block;
			background-color: #000000;
			color: white;
			padding: 5px 5px 5px 10px;
			text-decoration: none;
	  	}
	  	li a.active {
			background-color: #6495ED;
			color: white;
	  	}
	  	li a:hover:not(.active) {
			background-color: #ffffff;
			color: #6495ED;
			font-weight: bold;
	  	}
	  	.menuButton {
			position: absolute;
			z-index: 4;
			background-color: transparent;
			border: none;
			outline: none;
			color: white;
			text-align: center;
			font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-size: 35px;
			font-weight: bold;
			letter-spacing: -3px;
			font-weight: 700px;
			line-height: 40px;
		}
		.menuButton:hover {
  			transform: skew(-10deg);
  		}
		.adminLoginButton {
			position: absolute;
			z-index: 3;
			top: 35px;
			background-color: transparent;
			border: 1px solid transparent;
			outline: none;
			color: white;
			text-align: center;
			text-decoration: underline;
			font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-size: 12px;
			font-style: normal;
			font-variant: normal;
			line-height: 20px;
		}
		.modalDialog {
			position: absolute;
			margin: auto;
			top: 0;
  			right: 0;
  			bottom: 0;
  			left: 0;
			z-index: 4;
			width: 50%;
			height: 40%;
			background: white;
			border: 1px solid #555555;
			padding: 5px 0 5px 10px;
			font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	  	}
		.modalPopup {
			position: absolute;
			margin: auto;
			top: 0;
  			right: 0;
  			bottom: 0;
  			left: 0;
			z-index: 4;
			width: 20%;
			height: 10%;
			background: white;
			border: 1px solid #555555;
			padding: 5px 0 5px 10px;
			font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	  	}	  	
	  	.flightPathModalButton {
	  		background-color: #6495ED;
		    border: none;
		    color: white;
		    display: inline-block;
		    padding: 0px;
	  		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-size: 30px;
			border: 1px solid white;
			width: 50%;
			height: 100%;
	  	}
	  	.flightPathModalButton:hover {
	  		background-color: #363636;
	  		cursor: pointer;
		    transition-duration: 0.3s;	  		
		    -webkit-transition-duration: 0.3s; /* Safari */
	  	}	  	
	  	.flightPathDropdown {
			width: 90%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
	  	}
	  	.bigHeader {
			font-size: 50px;
	  	}
	  	.textForm {
	  		font-size: 60px;
	  		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	  		text-align: center;
	  		width: 90%;
	  		height: 100px;
	  	}
	  	.scrollableOptions {
			overflow: scroll;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;			
	  	}
	  	.waypointRadDiv {
			overflow: auto;
	  		background-color: #FFFFFF;
		    border: none;
		    color: black;
		    display: inline-block;
		    padding: 0px;
	  		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-size: 15px;
			width: 40%;
			height: 50%;	  		
	  	}
	  	.waypointAttrsDiv {
			overflow: auto;
	  		background-color: #FFFFFF;
		    border: none;
		    color: black;
		    display: inline-block;
		    padding: 0px;
	  		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-size: 15px;
			width: 55%;
			height: 50%;	  		
	  	}
		.manualTourButton {
			position: absolute;
			z-index: 3;
			left: 45%;
			top: 35px;
	  		background-color: #6495ED;
			border: 1px solid black;
			outline: none;
			color: white;
		    padding: 8px;
			text-align: center;
			text-decoration: bold;
			font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
			font-size: 32px;
			font-size: 1.5vw;
			font-style: normal;
			font-variant: normal;
			line-height: 20px;
		}		  	
	  	.manualTourButton:hover {
	  		background-color: #363636;
	  		cursor: pointer;
		    transition-duration: 0.3s;	  		
		    -webkit-transition-duration: 0.3s; /* Safari */
	  	}		